/* Review.css */
.carousel-quote-circle {
  width: 120px;
  height: 120px;
  background-color: #ff4500;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-size: 20px; /* Adjusted for bigger quote */
  margin-bottom: 20px;
}
.carousel-review-container {
  max-width: 500px;
  font-size: 15px;
  line-height: 1.5;
  color: black;
  padding: 10px;
 
  border-radius: 5px;
}
.carousel-quote-circle {
  width: 140px;
  height: 140px;
  background-color: white;
  border: 10px solid #ff4500; /* Orange border */
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  color:#ff4500; /* Orange color for the quote symbol */
  font-size: 200px; /* Increased font size for the quote symbol */
  margin-bottom: 30px;
}
/* Adjustments for Review Container */
@media (max-width: 1024px) {
  .carousel-quote-circle {
    width: 100px;
    height: 100px;
    font-size: 60px;
    margin-bottom: 16px;
  }

  h2 {
    font-size: 22px;
    margin-bottom: 14px;
  }

  .text-muted {
    font-size: 13px;
  }

  .carousel-review-container {
    font-size: 14px;
    padding: 8px;
  }
}

/* For screens smaller than 760px (Tablet Portrait) */
@media (max-width: 760px) {
  .carousel-quote-circle {
    width: 90px;
    height: 90px;
    font-size: 50px;
    margin-bottom: 12px;
  }

  h2 {
    font-size: 20px;
    margin-bottom: 12px;
  }

  .text-muted {
    font-size: 12px;
  }

  .carousel-review-container {
    font-size: 13px;
    padding: 6px;
    
  }
}

/* For screens smaller than 480px (Mobile) */
@media (max-width: 480px) {
  .carousel-quote-circle {
    width: 80px;
    height: 80px;
    font-size: 40px;
    margin-bottom: 10px;
  }

  h2 {
    font-size: 18px;
    margin-bottom: 10px;
  }

  .text-muted {
    font-size: 11px;
  }

  .carousel-review-container {
    font-size: 12px;
    padding: 5px;
  }

  /* Reduce button sizes for smaller screens */
  button {
    font-size: 14px;
    width: 30px;
    height: 30px;
    margin: 30px;
  }
}
